<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Todo App</title>
</head>
<body>
    <div style = "margin-top: 50px;" class = "container">
        <h3>Todo List</h3>
        <hr>

        <form action="/add" method = "post">
            <div class="form-group">
                <label for="exampleFormControlInput1">Enter todo below:</label>
                <input type="text" class="form-control" id="formGroupExampleInput" name = "title" placeholder="Enter todo"><br>
                <button type = "submit" class = "btn btn-danger">Add</button>
            </div>
            <hr>
        </form>

        {% if todos == [] %}
        <div class="alert alert-warning" role="alert">
            Currently there is no Todo
        </div>
        {% else %}
         <table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Todo title</th>
      <th scope="col">Situation</th>
      <th scope="col">Update Situation</th>
      <th scope="col">Delete Todo</th>        
    </tr>
  </thead>
        {% endif %}



        <table class="table">
 
  <tbody>
    {% for todo in todos %}
        <tr>
      <th scope="row">{{todo.id}}</th>
      <td>{{todo.title}}</td>
      
      {% if todo.complete == False %}
      <td>Not  Completed</td>
      {% else %}
      <td>Completed</td>
      {% endif %}

      <td><a href="/complete/{{todo.id}}" class = "btn btn-danger">Change</a></td>
      <td><a href="/delete/{{todo.id}}" class = "btn btn-danger">Delete</a></td>
 
    </tr>
    {% endfor %}
  </tbody>
</table>
    </div>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>